name: Kilocode

on:
  schedule:
    - cron: '0 23,11 * * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  WORK_DIR: kilocode

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Local Repository
        uses: actions/checkout@v6

      - name: Checkout Target Repository
        id: check-changes
        uses: ./.github/actions/check-changes
        with:
          target-repo: Kilo-Org/kilocode
          target-branch: main
          target-dir: ${{ env.WORK_DIR }}

      - name: Prepare Workspace
        if: steps.check-changes.outputs.has-changes == 'true'
        uses: ./.github/actions/prepare-workspace
        with:
          target-dir: ${{ env.WORK_DIR }}

      - name: Setup Node.js Environment
        if: steps.check-changes.outputs.has-changes == 'true'
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'

      - name: Setup node_modules Cache
        if: steps.check-changes.outputs.has-changes == 'true'
        uses: actions/cache@v5
        with:
          path: |
            ${{ env.WORK_DIR }}/node_modules
            ${{ env.WORK_DIR }}/webview-ui/node_modules
          key: ${{ env.WORK_DIR }}-${{ runner.os }}-node-${{ hashFiles(format('{0}/pnpm-lock.yaml', env.WORK_DIR)) }}

      - name: Install Dependencies
        if: steps.check-changes.outputs.has-changes == 'true'
        working-directory: ${{ env.WORK_DIR }}
        run: |
          npm i -g pnpm @vscode/vsce ovsx
          npm run install:all

      - name: Build
        if: steps.check-changes.outputs.has-changes == 'true'
        working-directory: ${{ env.WORK_DIR }}
        run: npm run vsix:production

      - name: Publish Build and Update SHA
        if: steps.check-changes.outputs.has-changes == 'true' && success()
        uses: ./.github/actions/publish-build
        with:
          old-sha: ${{ steps.check-changes.outputs.old-sha }}
          new-sha: ${{ steps.check-changes.outputs.new-sha }}
          target-dir: ${{ env.WORK_DIR }}
          release-title: Kilocode Nightly
          release-tag: ${{ env.WORK_DIR }}
          release-glob: '*.vsix'
